<?xml version="1.0" encoding="utf-8" standalone="no"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<servlet>
		<servlet-name>SystemServiceServlet</servlet-name>
		<servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
		<init-param>
			<param-name>services</param-name>
			<param-value>josh.john.weeklymealplanner.DeviceInfoEndpoint,josh.john.weeklymealplanner.MessageEndpoint</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>SystemServiceServlet</servlet-name>
		<url-pattern>/_ah/spi/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>RecipeController</servlet-name>
		<servlet-class>josh.john.weeklymealplanner.RecipeController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>RecipeController</servlet-name>
		<url-pattern>/add</url-pattern>
	</servlet-mapping>
	
	<init-param>
        <param-name>myParam</param-name>
        <param-value>add</param-value>
    </init-param>
	
	
</web-app>